// COLORS
$grey-bg: #f2f2f2;
$grey-dark: #515356;
$grey-light: #9b9b9b;
$grey-border: #ebebeb;
$grey-shadow: #dcdcdc;
$lime: #6bd400;
$black: #000;
$white: #fff;
$visa : #00238b;
$masteracrd: #d35400;
$error: #c0392b;

//  PROPETIES
$border-dashed: 2px dashed $grey-border;
$radius: 3px;
$line-heiht: 1.41;
