@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yvvnzb');
  src:  url('fonts/icomoon.eot?yvvnzb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yvvnzb') format('truetype'),
    url('fonts/icomoon.woff?yvvnzb') format('woff'),
    url('fonts/icomoon.svg?yvvnzb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e904";
}
.icon-mastercard:before {
  content: "\e905";
}
.icon-lock:before {
  content: "\e900";
}
.icon-question:before {
  content: "\e901";
}
.icon-shopping-cart:before {
  content: "\e902";
}
.icon-visa:before {
  content: "\e903";
}
